// == Screen sizes
$small: 440px; // vars.$small;
$medium: 720px; // vars.$medium;
$inter: 900px; // vars.$inter;
$large: 1080px; // vars.$large;
$big: 1300px; // vars.$big;
$extreme: 1600px; // vars.$extreme;

$mainColor:  #404040;

$secondColor: #8db392;

$width: 768px;
