@use 'src/styles/_vars';

#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
  background-color: #8db39233;
  display: flex;
  justify-content: center;

  .modal {
    align-self: center;
    width: 60%;
    max-width: 700px;
    height: fit-content;
    max-height: 80%;
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
    border: 1px solid vars.$mainColor;
    position: relative;

    @media (max-width: 480px) {
      width: 280px;
      height: 80%;
      padding: 1rem;
    }

    @media (max-width: 720px) {
      width: 80%;
      height: 80%;
      padding: 1rem;
    }
  
    
    h3 {
      text-transform: uppercase;
      font-size: 2.5rem;
      color: vars.$mainColor;

      @media (max-width: 720px) {
        font-size: 1.5rem;
      }
    }

    img {
      max-height: 280px;
      max-width: 450px;
      display: block;
      margin: 1.5rem auto;

      @media (max-width: 720px) {
        display: none;
      }

      @media (max-height: 600px) {
        display: none;
      }
    }

    .trait {
      height: 4px;
      width: 60px;
      background-color: vars.$secondColor;
      margin: 1.5rem auto;
    }

    .infos {
      p:first-child {
        margin-bottom: 1rem;
        line-height: 1.7rem;
      }
    }

    .link-button {
      display: block;
      margin: 2rem auto 0;
      padding: 0.5rem 1.5rem;
      border-radius: 5px;
      cursor: pointer;
      border: none;

      &:hover {
        background-color: vars.$secondColor;
        color: vars.$mainColor;
        box-shadow: 1.5px 1.5px 1.5px vars.$mainColor;
      }
    }

    .technos {
      line-height: 1.5em;
    }

    .close-button {
      position: absolute;
      top: 1.5rem;
      right: 1rem;
      font-size: 1.8rem;
      font-weight: 700;
      color: vars.$mainColor;
      cursor: pointer;
      border: none;
      background: transparent;
    }  
  }
}
